
CREATE DATABASE [QuanLyQuanCafe_WT]
GO
USE [QuanLyQuanCafe_WT]
GO
/****** Object:  UserDefinedFunction [dbo].[Fun_getImageLink]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fun_getImageLink] (@ProId INT)
RETURNS VARCHAR(200)
AS
BEGIN
	DECLARE @Res VARCHAR(200)
	SELECT TOP 1 @Res = ImageLink FROM Images WHERE ProductID = @ProId 
	RETURN @Res
END
GO
/****** Object:  UserDefinedFunction [dbo].[Func_ThongKeDoanhThu]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Func_ThongKeDoanhThu](@Nam INT, @Thang INT) 
RETURNS @bangthongke TABLE
(
	Ngay INT,
	DoanhThu FLOAT
)AS
BEGIN
	DECLARE @Ngay INT = 1
	WHILE @Ngay < 29
		BEGIN
			INSERT INTO @bangthongke
			SELECT @Ngay, CASE WHEN SUM(Amount) > 0 THEN SUM(Amount) ELSE 0 END 
			FROM [dbo].[Order] 
			WHERE OrderStatus = N'Hoàn thành' AND YEAR(Daytime) = @Nam AND MONTH(Daytime) = @Thang AND DAY(Daytime) = @Ngay
			SET @Ngay = @Ngay + 1
		END
	IF(@Thang = 2 AND @Nam%4 = 0)
		BEGIN
			INSERT INTO @bangthongke
			SELECT 29, CASE WHEN SUM(Amount) > 0 THEN SUM(Amount) ELSE 0 END 
			FROM [dbo].[Order] 
			WHERE OrderStatus = N'Hoàn thành' AND YEAR(Daytime) = @Nam AND MONTH(Daytime) = 2 AND DAY(Daytime) = 29
		END
	IF(@Thang != 2)
		WHILE @Ngay < 31
		BEGIN
			INSERT INTO @bangthongke
			SELECT @Ngay, CASE WHEN SUM(Amount) > 0 THEN SUM(Amount) ELSE 0 END 
			FROM [dbo].[Order] 
			WHERE OrderStatus = N'Hoàn thành' AND YEAR(Daytime) = @Nam AND MONTH(Daytime) = @Thang AND DAY(Daytime) = @Ngay
			SET @Ngay = @Ngay + 1
		END
	IF(@Thang = 1 OR @Thang = 3 OR @Thang = 5 OR @Thang = 7 OR @Thang = 8 OR @Thang = 10 OR @Thang = 12)
		BEGIN
			INSERT INTO @bangthongke
			SELECT 31, CASE WHEN SUM(Amount) > 0 THEN SUM(Amount) ELSE 0 END 
			FROM [dbo].[Order] 
			WHERE OrderStatus = N'Hoàn thành' AND YEAR(Daytime) = @Nam AND MONTH(Daytime) = @Thang AND DAY(Daytime) = 31
		END
	RETURN 
END
GO
/****** Object:  UserDefinedFunction [dbo].[funConvertToUnsign]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[funConvertToUnsign] ( @strInput NVARCHAR(4000) ) 
RETURNS NVARCHAR(4000) AS 
BEGIN 
	IF @strInput IS NULL 
		RETURN @strInput 
	IF @strInput = '' 
		RETURN @strInput 
	DECLARE @RT NVARCHAR(4000) 
	DECLARE @SIGN_CHARS NCHAR(136) 
	DECLARE @UNSIGN_CHARS NCHAR (136) 
	SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệế ìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵý ĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍ ÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ' + NCHAR(272) + NCHAR(208) 
	SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeee iiiiiooooooooooooooouuuuuuuuuuyyyyy AADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIII OOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD' 
	DECLARE @COUNTER int 
	DECLARE @COUNTER1 int 
	SET @COUNTER = 1 
	WHILE (@COUNTER <=LEN(@strInput)) 
		BEGIN 
			SET @COUNTER1 = 1 
			WHILE (@COUNTER1 <=LEN(@SIGN_CHARS)+1) 
				BEGIN 
					IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@strInput,@COUNTER ,1) ) 
						BEGIN 
							IF @COUNTER=1 
								SET @strInput = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)-1) 
							ELSE 
								SET @strInput = SUBSTRING(@strInput, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)- @COUNTER) 
							BREAK 
						END 
					SET @COUNTER1 = @COUNTER1 +1 
				END 
			SET @COUNTER = @COUNTER +1 
		END 
	SET @strInput = replace(@strInput,' ','-') 
	RETURN @strInput 
END
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](200) NULL,
	[AdminType] [nvarchar](50) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CateName] [nvarchar](50) NULL,
	[CateDescription] [ntext] NULL,
	[CateStatus] [nvarchar](50) NULL,
	[AdminID] [int] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ImageLink] [varchar](200) NULL,
	[ProductID] [int] NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[Quantity] [int] NULL,
	[ProductID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[ItemPrice] [float] NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsID] [int] IDENTITY(1,1) NOT NULL,
	[NewsTitle] [nvarchar](100) NULL,
	[ImageLink] [varchar](200) NULL,
	[NewsDescription] [ntext] NULL,
	[DayTime] [datetime] NULL,
	[AdminID] [int] NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[NewsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [float] NULL,
	[Daytime] [datetime] NULL,
	[DeliveryAddress] [nvarchar](200) NULL,
	[OrderDescription] [nvarchar](200) NULL,
	[OrderStatus] [nvarchar](50) NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhotoLibrary]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhotoLibrary](
	[LibraryID] [int] IDENTITY(1,1) NOT NULL,
	[ImageLink] [varchar](200) NULL,
	[LibraryType] [nvarchar](50) NULL,
	[LibraryStatus] [nvarchar](50) NULL,
	[AdminID] [int] NOT NULL,
 CONSTRAINT [PK_PhotoLibrary] PRIMARY KEY CLUSTERED 
(
	[LibraryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProName] [nvarchar](50) NULL,
	[Highlight] [ntext] NULL,
	[ProDescription] [ntext] NULL,
	[Price] [float] NULL,
	[PromotionalPrice] [float] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[ProStatus] [nvarchar](50) NULL,
	[CategoryID] [int] NULL,
	[AdminID] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](200) NULL,
	[Phone] [char](10) NULL,
	[UserAddress] [nvarchar](200) NULL,
	[FullName] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([AdminID], [Username], [Password], [AdminType]) VALUES (1, N'lan', N'9794', N'admin')
INSERT [dbo].[Admin] ([AdminID], [Username], [Password], [AdminType]) VALUES (2, N'anhdd', N'anhdd', N'admin')
INSERT [dbo].[Admin] ([AdminID], [Username], [Password], [AdminType]) VALUES (3, N'admin', N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CateName], [CateDescription], [CateStatus], [AdminID]) VALUES (1, N'Cà phê', NULL, N'Hoạt động', NULL)
INSERT [dbo].[Category] ([CategoryID], [CateName], [CateDescription], [CateStatus], [AdminID]) VALUES (2, N'Trà', NULL, N'Hoạt động', NULL)
INSERT [dbo].[Category] ([CategoryID], [CateName], [CateDescription], [CateStatus], [AdminID]) VALUES (3, N'Bánh ngọt', NULL, N'Hoạt động', NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Images] ON 

INSERT [dbo].[Images] ([ImageID], [ImageLink], [ProductID]) VALUES (2, N'4.jpg', 2)
INSERT [dbo].[Images] ([ImageID], [ImageLink], [ProductID]) VALUES (3, N'2.jpg', 5)
INSERT [dbo].[Images] ([ImageID], [ImageLink], [ProductID]) VALUES (4, N'1.jpg', 5)
SET IDENTITY_INSERT [dbo].[Images] OFF
GO
INSERT [dbo].[Item] ([Quantity], [ProductID], [OrderID], [ItemPrice]) VALUES (2, 1, 1, 59000)
INSERT [dbo].[Item] ([Quantity], [ProductID], [OrderID], [ItemPrice]) VALUES (2, 1, 1005, 59000)
INSERT [dbo].[Item] ([Quantity], [ProductID], [OrderID], [ItemPrice]) VALUES (2, 1, 1006, 59000)
GO
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [Amount], [Daytime], [DeliveryAddress], [OrderDescription], [OrderStatus], [UserID]) VALUES (1, 157000, CAST(N'2021-06-19T17:52:19.693' AS DateTime), N'32 Võ Văn Dũng, Đống Đa, Hà Nội', NULL, N'Hoàn thành', 1)
INSERT [dbo].[Order] ([OrderID], [Amount], [Daytime], [DeliveryAddress], [OrderDescription], [OrderStatus], [UserID]) VALUES (3, 345000, CAST(N'2021-06-20T13:42:30.703' AS DateTime), N'32 Võ Văn Dũng, Đống Đa, Hà Nội', NULL, N'Hoàn thành', 1)
INSERT [dbo].[Order] ([OrderID], [Amount], [Daytime], [DeliveryAddress], [OrderDescription], [OrderStatus], [UserID]) VALUES (5, 70000, CAST(N'2021-05-30T16:06:30.897' AS DateTime), N'Nam Trực, Nam Định', NULL, N'Hoàn thành', 6)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[PhotoLibrary] ON 

INSERT [dbo].[PhotoLibrary] ([LibraryID], [ImageLink], [LibraryType], [LibraryStatus], [AdminID]) VALUES (1, NULL, NULL, NULL, 1)
INSERT [dbo].[PhotoLibrary] ([LibraryID], [ImageLink], [LibraryType], [LibraryStatus], [AdminID]) VALUES (2, NULL, NULL, NULL, 3)
SET IDENTITY_INSERT [dbo].[PhotoLibrary] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProName], [Highlight], [ProDescription], [Price], [PromotionalPrice], [StartTime], [EndTime], [ProStatus], [CategoryID], [AdminID]) VALUES (2, N'Espresso', N'                                
                            ', N'                                
                            ', 69000, 60000, CAST(N'2021-05-06T09:50:00.000' AS DateTime), CAST(N'2021-05-06T09:50:00.000' AS DateTime), N'Mới', 1, NULL)
INSERT [dbo].[Product] ([ProductID], [ProName], [Highlight], [ProDescription], [Price], [PromotionalPrice], [StartTime], [EndTime], [ProStatus], [CategoryID], [AdminID]) VALUES (3, N'Hồng trà truyền thống', N'                                                                
                            
                            ', N'                                                                
                            
                            ', 39000, 30000, CAST(N'2021-05-06T10:13:00.000' AS DateTime), CAST(N'2021-05-06T10:13:00.000' AS DateTime), N'Mới', 2, NULL)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Username], [Email], [Password], [Phone], [UserAddress], [FullName]) VALUES (1, N'luulan', N'luulan0911@gmail.com', N'9794', N'0973083638', N'32 Võ Văn Dũng, Đống Đa, Hà Nội', N'Lưu Ngọc Lan')
INSERT [dbo].[User] ([UserID], [Username], [Email], [Password], [Phone], [UserAddress], [FullName]) VALUES (2, N'anhdd', N'daoducanh1911@gmail.com', N'1911', N'0943397731', N'Nam Trực, Nam Định', N'Đào Đức Anh')
INSERT [dbo].[User] ([UserID], [Username], [Email], [Password], [Phone], [UserAddress], [FullName]) VALUES (3, N'hongha', NULL, NULL, NULL, N'Thái Bình', NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_Daytime]  DEFAULT (getdate()) FOR [Daytime]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_OrderStatus]  DEFAULT (N'Mới') FOR [OrderStatus]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Admin] FOREIGN KEY([AdminID])
REFERENCES [dbo].[Admin] ([AdminID])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Admin]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_Images_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_Images_Product]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_Order]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_Product]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Admin] FOREIGN KEY([AdminID])
REFERENCES [dbo].[Admin] ([AdminID])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Admin]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[PhotoLibrary]  WITH CHECK ADD  CONSTRAINT [FK_PhotoLibrary_Admin] FOREIGN KEY([AdminID])
REFERENCES [dbo].[Admin] ([AdminID])
GO
ALTER TABLE [dbo].[PhotoLibrary] CHECK CONSTRAINT [FK_PhotoLibrary_Admin]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Admin] FOREIGN KEY([AdminID])
REFERENCES [dbo].[Admin] ([AdminID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Admin]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
/****** Object:  StoredProcedure [dbo].[GetListItem]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetListItem] @OrderId INT, @ProName nvarchar(50)
AS
BEGIN
	SELECT I.ProductID, I.Quantity, I.ItemPrice [Price], dbo.Fun_getImageLink(I.ProductID) [ImageLink], P.ProName
	FROM dbo.Item I, Product P
	WHERE I.OrderID = @OrderId AND I.ProductID = P.ProductID
		AND (@ProName = '' OR dbo.funConvertToUnsign(P.ProName) LIKE N'%' + dbo.funConvertToUnsign(@ProName) + '%')
END
GO
/****** Object:  StoredProcedure [dbo].[GetListOrder]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetListOrder] @FullName nvarchar(50), @OrderStatus nvarchar(50)
AS
BEGIN
	SELECT O.* 
	FROM [dbo].[Order] O, [dbo].[User] U
	WHERE O.UserID = U.UserID
		AND (@FullName = '' OR dbo.funConvertToUnsign(U.FullName) LIKE N'%' + dbo.funConvertToUnsign(@FullName) + '%')
		AND (@OrderStatus = '' OR O.OrderStatus = @OrderStatus)
	ORDER BY O.OrderStatus DESC, O.OrderID DESC
END
GO
/****** Object:  StoredProcedure [dbo].[lIstSearchProById]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lIstSearchProById] @ProId int, @CateId int, @ProStatus nvarchar(50), @min float, @max float
AS 
BEGIN
	SELECT P.ProductID, ProName, Price, PromotionalPrice, ProStatus, CateName 
	FROM Product P, Category C
	WHERE P.CategoryID = C.CategoryID
		AND (@CateId = 0 OR P.CategoryID = @CateId)
		AND (@ProStatus = '0' OR P.ProStatus = @ProStatus)
		AND p.ProductID = @ProId
		AND (@min = 0 OR P.Price >= @min) 
		AND (@max = 0 OR P.Price <= @max)
END
GO
/****** Object:  StoredProcedure [dbo].[listSearchProByName]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[listSearchProByName] @ProName nvarchar(50), @CateId int, @ProStatus nvarchar(50), @min float, @max float
AS 
BEGIN
	SELECT P.ProductID, ProName, Price, PromotionalPrice, ProStatus, CateName
	FROM Product P, Category C
	WHERE P.CategoryID = C.CategoryID
		AND (@CateId = 0 OR P.CategoryID = @CateId)
		AND (@ProStatus = '0' OR P.ProStatus = @ProStatus)
		AND (@ProName = '' OR dbo.funConvertToUnsign(p.ProName) LIKE N'%' + dbo.funConvertToUnsign(@ProName) + '%')
		AND (@min = 0 OR P.Price >= @min) 
		AND (@max = 0 OR P.Price <= @max)
	ORDER BY P.ProductID DESC
END
GO
/****** Object:  StoredProcedure [dbo].[listSearchUserByName]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[listSearchUserByName] @FullName nvarchar(50)
AS
BEGIN
	SELECT U.UserID, U.FullName, U.Username, U.Email, U.[Password], U.Phone, U.UserAddress, COUNT(O.OrderID) AS [Count]
	FROM [dbo].[User] U LEFT JOIN [dbo].[Order] O ON U.UserID = O.UserID
	WHERE (@FullName = '' OR dbo.funConvertToUnsign(U.FullName) LIKE N'%' + dbo.funConvertToUnsign(@FullName) + '%')
	GROUP BY U.UserID, U.FullName, U.Username, U.Email, U.[Password], U.Phone, U.UserAddress
	ORDER BY U.UserID DESC
END
GO
/****** Object:  StoredProcedure [dbo].[lstNews]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lstNews] @Title NVARCHAR(100), @StartTime DATETIME, @EndTime DATETIME
AS
BEGIN
	SELECT * FROM [dbo].[News] 
	WHERE (@Title = '' OR dbo.funConvertToUnsign(NewsTitle) LIKE N'%' + dbo.funConvertToUnsign(@Title) + '%')
		AND (Daytime >= @StartTime AND Daytime <= @EndTime)
	ORDER BY NewsID DESC
END
GO
/****** Object:  StoredProcedure [dbo].[lstOrderById]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lstOrderById] @UserId INT, @StartTime DATETIME, @EndTime DATETIME
AS
BEGIN
	SELECT * FROM [dbo].[Order] 
	WHERE UserID = @UserId
		AND (Daytime >= @StartTime AND Daytime <= @EndTime)
	ORDER BY OrderID DESC
END
GO
/****** Object:  StoredProcedure [dbo].[lstProductByCategoryName]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lstProductByCategoryName] @CateID int
AS 
BEGIN
	SELECT p.*
	FROM Product p, Category c
	WHERE @CateID = c.CategoryID AND p.CategoryID = c.CategoryID AND p.ProStatus != N'Không hoạt động'
	ORDER BY c.CategoryID
END
GO
/****** Object:  StoredProcedure [dbo].[lstSearchHotProduct]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lstSearchHotProduct] (@Nam INT, @Thang INT) 
AS 
BEGIN
	SELECT TOP 10 I.ProductID, P.ProName, P.Price, P.PromotionalPrice, P.ProStatus, P.StartTime, P.EndTime, C.CateName, COUNT(I.ProductID) [Count] 
	FROM Item I, Product P, dbo.[Order] O, Category C
	WHERE I.ProductID = P.ProductID AND I.OrderID = O.OrderID AND P.CategoryID = C.CategoryID
		AND YEAR(O.Daytime) = @Nam AND MONTH(O.Daytime) = @Thang
	GROUP BY I.ProductID, P.ProName, P.Price, P.PromotionalPrice, P.ProStatus, P.StartTime, P.EndTime, C.CateName
	ORDER BY COUNT(I.ProductID) DESC
END
GO
/****** Object:  StoredProcedure [dbo].[lstSearchProById]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lstSearchProById] @ProId int, @CateId int, @min float, @max float
AS 
BEGIN
	SELECT P.ProductID, ProName, Price, PromotionalPrice, ProStatus, CateName 
	FROM Product P, Category C
	WHERE P.CategoryID = C.CategoryID
		AND p.ProductID LIKE @ProId AND P.CategoryID = @CateId AND P.Price >= @min AND P.Price <= @max
END
GO
/****** Object:  StoredProcedure [dbo].[lstSearchProByName]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lstSearchProByName] @ProName nvarchar(50), @CateId int, @min float, @max float
AS 
BEGIN
	SELECT P.ProductID, ProName, Price, PromotionalPrice, ProStatus, CateName
	FROM Product P, Category C
	WHERE P.CategoryID = C.CategoryID
		AND dbo.funConvertToUnsign(p.ProName) LIKE N'%' + dbo.funConvertToUnsign(@ProName) + '%'
		AND P.CategoryID = @CateId AND P.Price >= @min AND P.Price <= @max
END
GO
/****** Object:  StoredProcedure [dbo].[lstSearchProByNameInOrder]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lstSearchProByNameInOrder] @ProName nvarchar(50)
AS 
BEGIN
	SELECT P.ProductID, ProName, Price, PromotionalPrice, ProStatus, StartTime, EndTime, CateName
	FROM Product P, Category C
	WHERE P.CategoryID = C.CategoryID AND ProStatus != N'Không hoạt động' AND ProStatus != N'Hết hàng'
		AND dbo.funConvertToUnsign(p.ProName) LIKE N'%' + dbo.funConvertToUnsign(@ProName) + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[lstSearchProByNameUnique]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lstSearchProByNameUnique] @ProName nvarchar(50), @CateId int
AS 
BEGIN
	SELECT P.ProductID, ProName, Price, PromotionalPrice, ProStatus, CateName
	FROM Product P, Category C
	WHERE P.CategoryID = C.CategoryID
		AND dbo.funConvertToUnsign(p.ProName) LIKE N'%' + dbo.funConvertToUnsign(@ProName) + '%'
		AND P.CategoryID = @CateId
END
GO
/****** Object:  StoredProcedure [dbo].[lstSearchProductByName]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[lstSearchProductByName] @ProName nvarchar(50), @CateID int
AS 
BEGIN
	SELECT P.*
	FROM Product P, Category C
	WHERE (@CateID = 0 OR C.CategoryID = @CateID) AND P.CategoryID = C.CategoryID AND P.ProStatus != N'Không hoạt động' 
		AND (@ProName = '' OR dbo.funConvertToUnsign(p.ProName) LIKE N'%' + dbo.funConvertToUnsign(@ProName) + '%')
	ORDER BY p.ProName ASC
END
GO
/****** Object:  Trigger [dbo].[TriDeleteCate]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TriDeleteCate] ON [dbo].[Category] INSTEAD OF DELETE
AS
BEGIN
	DECLARE @Ma INT
	SELECT @Ma = CategoryID FROM deleted
	DELETE Item WHERE ProductID IN (SELECT ProductID FROM Product WHERE CategoryID = @Ma)
	DELETE Product WHERE CategoryID = @Ma
	DELETE Category WHERE CategoryID = @Ma
END
GO
ALTER TABLE [dbo].[Category] ENABLE TRIGGER [TriDeleteCate]
GO
/****** Object:  Trigger [dbo].[TriUpdateCate]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TriUpdateCate] ON [dbo].[Category] FOR UPDATE
AS
BEGIN
	DECLARE @Ma INT, @Status NVARCHAR(50)
	SELECT @Ma = CategoryID, @Status = CateStatus FROM inserted
	IF(@Status = N'Không hoạt động')
		UPDATE Product SET ProStatus = N'Không hoạt động' WHERE CategoryID = @Ma AND ProStatus != N'Không hoạt động'
	ELSE
		UPDATE Product SET ProStatus = N'Mới' WHERE CategoryID = @Ma AND ProStatus = N'Không hoạt động'
END
GO
ALTER TABLE [dbo].[Category] ENABLE TRIGGER [TriUpdateCate]
GO
/****** Object:  Trigger [dbo].[TRIG_XoaOrder]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRIG_XoaOrder] ON [dbo].[Order] INSTEAD OF DELETE
AS
BEGIN
	DECLARE @OrderId INT
	SELECT @OrderId = OrderID FROM deleted
	DELETE dbo.Item WHERE OrderID = @OrderId
	DELETE [dbo].[Order] WHERE OrderID = @OrderId
END
GO
ALTER TABLE [dbo].[Order] ENABLE TRIGGER [TRIG_XoaOrder]
GO
/****** Object:  Trigger [dbo].[TRIG_XoaPro]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRIG_XoaPro] ON [dbo].[Product] INSTEAD OF DELETE
AS
DECLARE @ProId INT
	BEGIN
		SELECT @ProId = ProductID FROM deleted
		DELETE dbo.Images WHERE ProductID = @ProId
		DELETE dbo.Item WHERE ProductID = @ProId
		DELETE dbo.Product WHERE ProductID = @ProId
	END
GO
ALTER TABLE [dbo].[Product] ENABLE TRIGGER [TRIG_XoaPro]
GO
/****** Object:  Trigger [dbo].[TRIG_XoaUser]    Script Date: 8/7/2021 10:08:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRIG_XoaUser] ON [dbo].[User] INSTEAD OF DELETE
AS
BEGIN
	DECLARE @UserId INT
	SELECT @UserId = UserID FROM deleted
	DELETE dbo.Item WHERE OrderID IN (SELECT OrderID FROM [dbo].[Order] WHERE UserID = @UserId)
	DELETE [dbo].[Order] WHERE UserID = @UserId
	DELETE [dbo].[User] WHERE UserID = @UserId
END
GO
ALTER TABLE [dbo].[User] ENABLE TRIGGER [TRIG_XoaUser]
GO
USE [master]
GO
